* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	background: #bada55;
}
/*container wrapper styles*/
#gaia-slide-wrapper {
	max-width: 60rem;
	margin:0 auto;
	position: relative;
}

/*prev and next styling*/
#gaia-prev,
#gaia-next {
	position: absolute;
	padding: 2rem;
	background: #c0ffee url('../img/unikitty1.png') 50% 0% no-repeat;
	background-size: 100% 100%;
	z-index: 999;
	top: 0;
	left: 0;
	cursor: pointer;
	/*http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

#gaia-next {
	left: auto;
	background: #c0ffee url('../img/unikitty2.png') 50% 0% no-repeat;
	background-size: 100% 100%;
	right: 0;
}

/*slide styles*/
.gaia-slide {
	position: absolute;
	width: 100%;
}
.gaia-slide img {
	width: 100%;
	height: auto;
}
.gaia-slide.hidden {
	display: none;
}

/*indicators styleing*/
#gaia-indicators {
	max-width: 60rem;
	text-align: center;
	margin: 0 auto;
}

#gaia-indicators .gaia-thumb {
	max-width: 20%;
	height: auto;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 3px solid #ccc;
}
#gaia-indicators .gaia-thumb.active-thumb {
	border: 3px solid #000;
}
#gaia-indicators img {
	display: inline-block;
	width: 100%;
	height: auto;
}